bcrypt==3.1.7
bidict==0.21.4
blinker==1.4
certifi==2020.6.20
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.11
dnspython==2.2.0
eventlet==0.33.0
func-timeout==4.3.5
greenlet==1.1.2
idna==3.3
pyamaze==1.0.1
pycparser==2.21
python-engineio==4.3.1
python-socketio==5.5.1
requests==2.27.1
six==1.16.0
tk==0.1.0
urllib3==1.26.8
websocket-client==1.2.3
